.header-inner[style='height: 100vh;'] .flex-center {
  background-image: url('/images/logo_full.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 200px;
}

@media (max-width: 767px) {
  .header-inner[style='height: 100vh;'] .flex-center {
    background-size: auto 150px;
  }
}

.navbar-dark {
  background-color: var(--navbar-bg-color);
}

.scroll-down-bar i.iconfont {
  color: var(--text-color);
}

.index-excerpt {
  letter-spacing: 0.06rem;
  line-height: 2.5;
  max-height: calc(2.5rem * 3);
}

.markdown-body {
  letter-spacing: 0.06rem;
  line-height: 2.5;
}

.toc-header {
  margin-bottom: 1.5rem;
}

.toc-body {
  letter-spacing: 0.06rem;
  line-height: 2;
}

.about-avatar img {
  border-radius: 10%;
}
